html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #E8DFCA; */
  max-height: 100vh;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* light mode color pallete */

.bg-light-1 {
  background-color: #7895B2;
}
.bg-light-2 {
  background-color: #AEBDCA;
}
.bg-light-3 {
  background-color: #E8DFCA;
}
.bg-light-4 {
  background-color: #F5EFE6;
}

/* dark mode color pallete */

.bg-dark-1 {
  background-color: #413C69;
}
.bg-dark-2 {
  background-color: #4A47A3;
}
.bg-dark-3 {
  background-color: #AD62AA;
}
.bg-dark-4 {
  background-color: #EAB9C9;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    /* color: white; */
    background: black;
  }
}
